.filter-section{
    text-align: center;
}
.form-check-box{
    display: inline-block;
    margin-right: 1rem;
}
.manual-search-form{
    display: flex;
    justify-content: center;
}
.refine-search-form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.fixed-header{
    font-size: 2rem;
}
tbody{
    font-size: 14px;
    line-height: 1rem;
}