* {
    margin: 0px;
    padding: 0.1px;
}

.login-container {
    margin-top: 6rem;
    margin-left: 30rem;
}

.main-container {
    align-items: center;
    background-color: #2e2e4e4a;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: 13rem;

    padding: 70px 0;
    position: relative;
    transition: .3s;
    width: 50%;
    z-index: 1;
    justify-content: space-between;
}

section {
    background-image: url(D:\MyICF\frontend\public\Z67keu.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Montserrat, sans-serif;
    height: 100vh;
}